.Rules {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-width: 200px;
    height: 60vmin;
    margin-top: var(--margin-small);
    @media screen and (min-width:481px) {
      width: calc(100% - 10vw);
      height: 30vh;
    }
    @media screen and (min-width:1024px) {
      height: 35vmin;
    }
    &-img {
      display: block;
      width: 100%;
      height: 100%;
      min-width: 60vw;
      max-width: 80vw;
      min-height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    margin: var(--margin-small);
    color: var(--font-color);
    margin-top: 10vh;
    margin-bottom: 11vh;

    @media screen and (min-width:481px) {
      margin: 0;
      max-width: 70vw;
      margin-left: 30vw;
    }
    @media screen and (min-width:1024px) {
      margin: 0;
      max-width: 80vw;
      margin-left: 20vw;
    }
    &__intro{
      display: flex;
      justify-content: center;
    }

    h3 {
      font-size: var(--fontsize-h3);
    }

    p,
    ul {
      margin: var(--margin-small) var(--margin-medium);
      font-size: var(--fontsize-p);
      list-style-type: circle;
      line-height: var(--line-height-small);
    }

    strong {
      font-weight: var(--fontweight-medium);
    }
  }
}

.endGame {
  font-weight: var(--fontweight-bold);
}

.separator {
  background-color: var(--primary);
  border-radius: 2px;
  height: 2px;
  margin: var(--margin-medium) auto;
  width: 100%;
}



.rules, .intro {
  display: flex;
  flex-direction: column;
  &__1,
  &__2 {
    background-color: var(--light-gray);
    border-radius: var(--border-radius);
    margin: var(--margin-small);
    @media screen and (min-width:1024px) {
      width: 50%;
      margin: var(--margin-small);
    }
    &__rule, &__intro{
      text-align: justify;
      margin: var(--margin-small);
      @media screen and (min-width:481px) {
        margin: var(--margin-small);
      }
      @media screen and (min-width:1024px) {
        margin: var(--margin-medium);
      }
    }
  }
  @media screen and (min-width:481px) {
    flex-direction: column;
    justify-content: space-between;
  }
  @media screen and (min-width:1024px) {
    flex-direction: row;
    justify-content: space-between;
  }
}