.playingDatas{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  border-radius: var(--border-radius);
  color: var(--font-color);
  padding: var(--margin-small);
  margin: var(--margin-small) auto;
  width: 85vw;
  min-width: 85vw;
  box-shadow: var(--box-shadow-light);
  @media screen and (min-width:767px) {
    min-width: 0;
    max-width: 95%;
  }
  &-score, &__player{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .7rem 0;
    font-size: var(--fontsize-h3);
    font-weight: var(--fontweight-light);
    text-transform: capitalize; 
    width: 100%;
    overflow: hidden;
    strong{
      font-weight: var(--fontweight-bold);
    }

  }
    &-score .scoreName, &-score .scoreNumber{
    width: 40%;
  }
  .scoreNumber{
    text-align: end;
    width: fit-content;
    margin-right: 3px;
  }
  .scoreName{
    display: flex;
    justify-content: space-between;
    width: fit-content;
    strong, span{
      overflow: hidden;
      margin-left: .5rem;
    }
  }
  .scoreFails{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    img{
      margin-left: 3px;
    }
  } 
}

.playingDatas__team__datas{
  min-width: 50%;
  display: flex;
  overflow: hidden;
  align-items: center;
  &:nth-child(3){
    // margin-left: var(--margin-small);
    max-width: 50%;
  }
  &-playerName{
    margin-left:var(--margin-small);
  }
  &-separator{
    margin: 0 .5rem;
    font-weight: var(--fontweight-light);
  }
}