@import '../../utils/variables';

.pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  margin: var(--margin-small);
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}
.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
    filter: blur(5px);
}
.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
.front {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 12px;
  border-radius: 12px;
  font-size: 1.25rem;
  color: white;
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
    p, i{
      text-align: center;
      margin: 5px;
  }
}
.pushable:hover {
  filter: brightness(110%);

}
.pushable.animated:hover i {
  animation: iconTurn 400ms ease-in;
}
.pushable:hover .front {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);

}
.pushable:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;

}
.pushable:hover .shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}
.pushable:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}
.pushable:focus:not(:focus-visible) {
  outline: none;
}

@keyframes iconTurn {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(15px) rotate(180deg);
  }
  75% {
    transform: translateX(-5px) rotate(360deg);
  }
  100% {
    transform: translateX(0) rotate(360deg);
  }
}