.Dashboard{
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 70vh;
  @media screen and (min-width: 481px) {
    margin: 0;
    margin-left: 30vw;
    min-height: 90vh;
  }
  @media screen and (min-width: 1024px) {
    margin: 0;
    width: calc(100% - 20vw);
    margin-left: 20vw;
    min-height: 90vh;
  }
  &__content{
    display: flex;
    width: 90vw;
    @media screen and (min-width: 481px) {
      align-items: center;
      flex-direction: column;
      justify-content: center;
      width: 100%;
    }
    @media screen and (min-width: 1024px) {
      align-items: flex-start;
      flex-direction: row;
      justify-content: center;
      width: 100%;
    }
  }
  &__title{
    font-size: var(--fontsize-h1);
    font-weight: var(--fontweight-bold);
    margin-left: var(--margin-medium);
    margin-top: var(--margin-medium);
    color: var(--font-color);
  }
  &__teams{
    width: 100%;
    margin-top: 2vh;
    @media screen and (min-width: 481px) {
      max-width: 60vw;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    @media screen and (min-width: 1024px) {
      max-width: 50%;
      margin: 0 var(--margin-small);
    }
    a{
      margin: 0;
      margin-top: var(--margin-medium);
    }
  }
  &__startGame{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    a{
      margin: 0;
      margin-top: var(--margin-medium);
      width: 100%;
    }
  }
  &__newTeam{
    &.open{
      display: flex;
      flex-direction: column;
      margin-top: var(--margin-medium);
      width: 30vw;
      margin-left: 5vw;
      padding: 1vw;
      background-color: var(--color-background-rev);
      border-radius: var(--border-radius);
      @media screen and (min-width: 481px) {
        margin: var(--margin-small) 0;
        width: 80%;
      }
      @media screen and (min-width: 1024px) {
        margin: var(--margin-small) 0;
        width: 50%;
        margin: 0 var(--margin-small);
      }
    }
    &.close{
      display: flex;
      flex-direction: column;
      margin-top: var(--margin-medium);
      width: 30vw;
      margin-left: 5vw;
    }
  }
}
