.skittle{
  background-color: var(--color-background-elt);
  border-radius: 10rem;
  border: solid 4px var(--tertiary);
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--fontsize-h1);
  font-weight: var(--fontweight-bold);
  font-family: var(--font-text);
  color: var(--font-color);
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  &:hover{
    @media screen and (min-width: 765px) {
    background-color: var(--light-overlay);
    }
  }
}
.selected{
  background-color: var(--light-overlay);
  box-shadow: var(--box-shadow-light);
}

.disabledSkittle{
  background-color: var(--light-blue);
  cursor: not-allowed;
  pointer-events: none;
  border: solid 4px var(--light-blue);
}