.modale{
  position: absolute;
  top: 25vh;
  left: 5vw;
  min-height: 20vh;
  width: 90vw;
  background-color: var(--primary);
  z-index: 3;
  border-radius: var(--border-radius);
  border: solid 2px var(--black);
  @media screen and (min-width:767px) {
    width: 20vw;
    left: 65vw;
  }
  &__background{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--dark-overlay);
    z-index: 2;
    margin-top: 10vh;
    min-height: 115vh;
  }
  &__hidden{
    display: none;
  }
  &__close{
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
   &__icon{
     font-size: var(--fontsize-h1);
    margin: var(--margin-small);
   }
  }

  &__list{
    min-height: 30vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    &__title{
      font-size: var(--fontsize-h2);
      margin: .5rem 0;
    }
    &-item{
      display: flex;
      justify-content: flex-start;
      align-items: center;      
      margin: .2rem 0;
      background-color: var(--light-gray);
      width: 100%;
      text-align: start;
      height: 2rem;
      border-radius: var(--border-radius);
      p{
        margin-left: .5rem;
        font-weight: var(--fontweight-light);
        font-size: var(--fontsize-h3);
      }
      &::before{
        content: "";
        display: block;
        width: .3rem;
        height: .3rem;
        background: var(--black);
        margin-left: var(--margin-small);
        border-radius: 10rem;
      }
    }
  }
  &__text{
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin: 0 var(--margin-small);
    padding: 0 var(--margin-small);
    &-sub{
      min-height: 30vh;
      min-width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
    h2{
      text-transform: capitalize;
    }
    &-string{
      font-size: var(--fontsize-h3);
      line-height: 1.5rem;
      text-align: justify;
    }
  }
}

.image{
  max-height: 25vh;
  max-width: 25vh;
}

// .modalePlayer{
//   list-style: circle;
// }