.teams{
  display: flex;
  flex-direction: column;
  margin-top: var(--margin-small);
  width: 100%;
}

.team__playing, .team{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6vh;
  margin: .5rem auto;
  background-color: var(--light-gray);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-light);
  width: 100%;
  h2{
    font-size: var(--fontsize-h2);
    color: var(--black);
    font-weight: var(--fontweight-bold);
    text-transform: capitalize; 
  }
  &__name{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: var(--margin-small);
    overflow: hidden;
  }
  &__eliminated{
    text-transform: capitalize;
    color: var(--red);
    font-weight: var(--fontweight-bold);
    width: 50%;
    text-align: center;
  }
  &__delete{
    font-size: var(--fontsize-h2);
    margin: 0 var(--margin-small);
    cursor: pointer;
  }
  &__datas{
    // width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-pts{
      font-weight: var(--fontweight-bold);
      margin-right: var(--margin-small);
    }
    &-score{
      width: 50%;
      margin-left: var(--margin-medium);
      font-size: var(--fontsize-h3);
      color: var(--black);
      display: flex;
      justify-content: flex-end;
    } 
    &-fails{
      width: 50%;
      display: flex;
      justify-content: flex-end;
      margin-right: var(--margin-small);
      img{
        margin-left: 3px;
      }
    }
  }
}

.eliminated{
  background-color: var(--light-red);
}