// ==== Mobile =====

@media screen and (max-width: 480px) {
  .Home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 90vw;
    margin: 10vh auto;
    // @media screen and (min-width:767px) {
    //   margin: 0;
    //   margin-left: 20vw;
    //   justify-content: flex-start;
    // }
    &__content{
      width: 100%;
    }
      &__text{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
      }
      &__img{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 200px;
        height: 60vmin;
        margin-top: var(--margin-medium);
        height: 30vh;
        &-img {
          display: block;
          min-width: 60vw;
          max-width: 80vw;
          min-height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      &__links{
        background-color: var(--secondary);
        padding: var(--margin-small);
        border-radius: var(--border-radius);
        line-height: var(--line-height-small);
        &-list{
          li a{
            color: var(--font-color);
            margin-left: var(--margin-small);
            text-decoration: underline;
          }
          li::after {
              content: "";
              display: block;
              width: 5vw;
              height: 2px;
              background: var(--black);
              margin: var(--margin-small) auto;
            }
        
            li:last-child::after {
              display: none;
            }
        }
        
        h3{
          font-size: var(--fontsize-h3);
          font-weight: var(--fontweight-bold);
          // text-decoration: underline;
        }
      }
    }
  .bottom__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }
}

// ==== Tablets =====

@media screen and (min-width: 481px) {
  .Home{
    width: 70vw;
    margin-left: 30vw;
    &__content{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    &__text{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
    &__links{
      background-color: var(--secondary);
      padding: var(--margin-small);
      border-radius: var(--border-radius);
      line-height: 3rem;
      margin: var(--margin-medium);
      &-list{
        li a{
          color: var(--font-color);
          margin-left: var(--margin-small);
        }
      }
      h3{
        font-size: var(--fontsize-h3);
        font-weight: var(--fontweight-bold);
        text-decoration: underline;
      }
    }
    &__img{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-width: 200px;
      margin-top: var(--margin-medium);
      height: 30vh;
      width: 100%;
      &-img {
        display: block;
        min-width: 60vw;
        max-width: 80vw;
        min-height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
  .bottom__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}


// ==== Desktops =====
@media screen and (min-width: 1024px) {
  .Home{
    width: 70vw;
    margin-left: 20vw;
    &__content{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__text{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
    &__links{
      background-color: var(--secondary);
      padding: var(--margin-small);
      border-radius: var(--border-radius);
      line-height: 3rem;
      &-list{
        li a{
          color: var(--font-color);
          margin-left: var(--margin-small);
        }
      }
      h3{
        font-size: var(--fontsize-h3);
        font-weight: var(--fontweight-bold);
        text-decoration: underline;
      }
    }
    &__img{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-width: 200px;
      height: 60vmin;
      margin-top: var(--margin-medium);
      height: 30vh;
      &-img {
        display: block;
        min-width: 60vw;
        max-width: 80vw;
        min-height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
  .bottom__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.iphoneModale{
  background: var(--primary);
  border-radius: var(--border-radius);
  position: fixed;
  padding: var(--margin-small);
  width: 80vw;
  box-shadow: var(--box-shadow-dark);
  bottom: 20px;
  h3{
    font-weight: var(--fontweight-bold);
    text-align: center;
  }
  &__close{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    i{
      margin: 0;
      font-size: var(--fontsize-h2);
      height: 20px;
    }
  }
  &__content-top{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__arrow{
    position: absolute;
    bottom: -10px;
    left: 150px;
    background: var(--primary);
    transform: rotate(45deg);
    height: 20px;
    width: 20px;
  }
}
