@import '../../utils/variables';

.logo {
  @media screen and (min-width:767px) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    // margin-left: 12vw;
  }
  @media screen and (max-width:767px) {
    margin-left: var(--margin-medium);
    max-width: 50vw;
    background: transparent;
    border: none;
    // color: inherit;
    z-index: 0;
  }
  &__link{
    display: block;
    color: var(--black);
    font-size: var(--fontsize-h1);
    font-weight: var(--fontweight-bold);
    max-width: 50vw;
    height: fit-content;
    // img{
    //   max-width: 50vw;
    //   max-height: 4rem;
    //   @media screen and (min-width:767px) {
    //     height: 6rem;
    //   }
    // }
  }
}