.Stats{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  &__content{
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    margin: 10vh auto;
    @media screen and (min-width:767px) {
      margin: 0;
      margin-left: 12vw;
    }
    &__team{
      margin-top: var(--margin-small);
      display: flex;
      flex-direction: column;
      align-items: center;
      @media screen and (min-width:767px) {
        width: 50%;
      }
    }
  }
}

.playerStats{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
  background-color: var(--dark-gray);
  margin: var(--margin-small);
  border-radius: var(--border-radius);
  color: var(--font-color);
  @media screen and (min-width:767px) {
    width: 100%;
  }
  &__eliminated{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    background-color: var(--light-red);
    margin: var(--margin-small);
    border-radius: var(--border-radius);
    color: var(--font-color);
  }
  &__name{
    font-size: var(--fontsize-medium);
    font-weight: var(--fontweight-bold);
    margin-top: var(--margin-small);
    text-transform: capitalize;
  }
  &__data{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    h3{
      font-weight: var(--fontweight-bold);
    }
    &__score, &__fails{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: var(--height-btn-small);
      margin: var(--margin-small) auto;
    }
  }
}