.Skittles{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 80vh;
    margin-top: 10vh;
    margin-bottom: 11vh;
    @media screen and (min-width:481px) {
      margin: 0;
      margin-left: 30vw;
      width: calc(100% - 30vw);
    }
    @media screen and (min-width:1024px) {
      margin: 0;
      margin-left: 20vw;
      width: calc(100% - 20vw);
    }
    &__content{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: start;
      @media screen and (min-width:481px) {
        margin: var(--margin-small) 0;
        width: 80%;
      }
      &__imgContainer{
        @media screen and (min-width:481px) {
          max-width: 100%;
          height: 60vmin;
        }
        @media screen and (min-width:1024px) {
          height: 70vmin;
        }
        width: 100vw;
        min-width: 200px;
        height: 85vmin;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: var(--margin-medium);
        &-img {
          display: block;
          min-height: 100%;
          object-fit: cover;
          object-position: center;
        }
  
      }
    }
  &__back{
    text-decoration: none;
    color: var(--font-color);
    font-weight: var(--fontweight-bold);
    background-color: var(--secondary);
    padding: var(--margin-small);
    border-radius: var(--border-radius);
    margin: var(--margin-medium) 0;
    text-align: center;
  }
}