.Winner{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  &__content{
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    width: 90vw;
    margin: 10vh auto;
    @media screen and (min-width:481px) {
      margin: 0;
      width: 70vw;
      margin-left: 30vw;
      align-items: center;
    }
    @media screen and (min-width:1024px) {
      margin: 0;
      width: 80vw;
      flex-direction: row;
      margin-left: 20vw;
    }
  }
}

.winner{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color:  var(--white);
  width: 80vw;
  margin: var(--margin-small);
  padding: var(--margin-small);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-light);
  @media screen and (min-width:481px) {
    width: calc(100% - 30vw);
  }
  @media screen and (min-width:1024px) {
    width: 50%;
  }
  &__top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__team{
    font-weight: var(--fontweight-bold);
    font-size: var(--fontsize-huge);
    font-family: var(--font-title);
    text-align: center;
  }
  &__players{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: var(--margin-small) auto;
  }
  &__player{
    font-size: var(--fontsize-h2);
    font-weight: var(--fontweight-bold);
    margin: .2rem;
  }

  &__text{
    font-size: var(--fontsize-h2);
    font-weight: var(--fontweight-bold);
  }

  &__options{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    @media screen and (min-width:481px) {
      width: 100%;
      align-items: center;
    }
    @media screen and (min-width:1024px) {
      width: 50%;
      align-items: flex-start;
    }
  }

}

