.TeamForm{
  width: 100%;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 765px) {
    width: auto;
  }
  h3{
    font-weight: var(--fontweight-medium);
  }
  h2{
    font-size: var(--fontsize-big);
    font-weight: var(--fontweight-medium);
    text-transform: capitalize; 
  }
}
.btn-box{
  display: flex;
  justify-content: center;
  align-items: center;
}

.validateBtn{
  border: none;
  line-height: 24px;
  height: var(--height-btn-regular);
  border-radius: var(--border-radius);
  background-color: var(--secondary);
  color: var(--font-color-rev);
  width: 100%;
  margin: var(--margin-medium) 0;
  font-size: var(--fontsize-h3);
}

.addPlayer__button{
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background: var(--color-btn);
  color: var(--font-color-rev);
  line-height: 24px;
  border-radius: var(--border-radius);
  user-select: none;
  height: var(--height-btn-regular);
  width: 100%;
  p, i{
    margin: var(--margin-medium);
  }
}

.buttons__desktop{
  display: flex;
  justify-content: center;
}