@import '../utils/variables';

.App {
  text-align: center;
}

#App {
  min-height: 100vh;
  font-family: var(--font-text);
  font-weight: var(--fontweight-light);
  background: var(--background-app), linear-gradient(180deg, #f8efba, #eef7b5, #d9f5b0, #c2f4ac, #aaf2a7, #a3f0b5, #9eeec7, #9aecdb);
  color: var(--font-color);
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

button{
  border:none;
  background: none;
}
.hidden{
  display: none;
}

/* COOKIES */
.overwrite {
  pointer-events: none;
  opacity: 0
}
