
.addPlayer{
  display: flex;
  width: 100%;
  &__form{
    display: flex;
    flex-direction: column;

    background-color: var(--color-background-rev);
    padding: var(--margin-small);
    border-radius: var(--border-radius);
    box-shadow: 2px 3px 5px #9b9b9b;
    margin-top: var(--margin-small);
    @media screen and (max-width:767px) {
      padding: 0;
    }
    @media screen and (min-width:767px) {
    margin-top: var(--margin-medium);
    }
    h3{
      font-weight: var(--fontweight-medium);
    }
  }
  &__label{
    margin-top: var(--margin-small);
    margin-left: var(--margin-small);
    // width: 100%;
  }
  &__input{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: var(--margin-small) 0;
    input{
      margin: 0 var(--margin-small);
      height: var(--height-btn-regular);
      font-size: var(--fontsize-small);
      font-family: var(--font-text);
      font-weight: var(--fontweight-light);
      width: 100%;
      border-radius: var(--border-radius);
      border: 0.5px solid #BDBDBD;
      box-shadow: 1px 1px 3px #9b9b9b;
      box-sizing: border-box;
      @media screen and (max-width:767px) {
        // padding: 0 var(--margin-medium);
      }
      &:focus{
        outline: none;
      }
    }
  }
}

.playerForm{
  &__btn-add{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: var(--color-btn);
    color: var(--font-color-rev);
    line-height: 24px;
    padding: 0 10px;
    border-radius: var(--border-radius);
    user-select: none;
    height: var(--height-btn-regular);
    width: 4rem;
    min-width: 4rem;
    box-shadow: 2px 2px 5px #9b9b9b;
    &:hover{
      cursor: pointer;
      box-shadow: 0;
      background: var(--tertiary-backcolor);
    }
  }
  &__btn-delete{
    max-width: var(--width-btn-medium);
    font-size: var(--fontsize-h2);
  }
}

.btn-box{
  margin-right: var(--margin-small);
}