@media screen and (max-width:480px) {
  .navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    min-height: 10vh;
    background-color: var(--color-background-rev);
    color: var(--white);
    z-index: 10;
    &__links {
      display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        visibility: hidden;
        right: 0;
        left: 0;
        top: -100vh;
        height: 100vh;
        background-color: var(--black);
        opacity: 95%;
        transition: all .8s ease-in-out;
    }
  
    &__link {
      padding: 0 0.3rem;
      color: var(--font-color);
        color: inherit;
        display: block;
        padding: 1.5rem;
        font-size: var(--fontsize-medium);
        font-family: var(--font-text);
      i{
        margin-right: 2vw;
      }
    }
  
    &__burger {
       display: block;
        margin-right: 1rem;
        height: 40px;
        background: transparent;
        border: none;
        color: var(--black);
        cursor: pointer;
    }
  }

    .show-nav .navbar__links {
      height: 100vh;
      width: 100vw;
      right: 0;
      top: 0;
      visibility: visible;
    }
  
    .burger-bar,
    .burger-bar::before,
    .burger-bar::after {
      display: block;
      width: 40px;
      height: 3px;
      position: relative;
      border-radius: 3px;
      background: var(--black);
      transition: all .5s ease-in-out;
    }
  
    .burger-bar::before,
    .burger-bar::after {
      content: "";
      position: absolute;
      left: 0;
    }
  
    .burger-bar::before {
      transform: translateY(-12px);
    }
  
    .burger-bar::after {
      transform: translateY(12px);
    }
  
    .show-nav .burger-bar::before {
      transform: rotate(45deg);
      background: var(--white);
    }
  
    .show-nav .burger-bar::after {
      transform: rotate(-45deg);
      background: var(--white);
    }
  
    .show-nav .burger-bar {
      background: transparent;
    }
  
    .show-nav .navbar__item {
      transform: translateY(0);
      transition: all .5s ease-in-out;
    }
  
    .navbar__item {
      &::after {
        content: "";
        display: block;
        margin: 0 auto;
        width: 3vw;
        height: 1px;
        background: var(--white);
      }
  
      &:last-child::after {
        display: none;
      }
    }
}

// ==== Tablets ==== 
@media screen and (min-width:481px) {
  .navbar{
    &__desktop{
      &-top{
      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--light-gray);
      max-width: 100vw;
      height: 10vh;
    }
    &-side{
      display: flex;
      position: fixed;
      top: 0;
      bottom: 0;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      background: var(--light-gray);
      width: 30vw;
      padding-top: 10vh;
      li{
        width: 100%;
        height: 10vh;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        vertical-align: middle;
        border: solid 1px var(--dark-gray);
        &:hover{
          background-color: var(--dark-gray);
          box-shadow: var(--box-shadow-light);
          border-radius: var(--border-radius);
          i{
            animation: iconTurn 600ms ease-in;
          }
        }
        a{
          display: flex;
          align-items: center;
          justify-content: flex-start;
          color: var(--font-color);
          margin-left: var(--margin-small);
          vertical-align: middle;
          height: 10vh;
          &:hover{
            background-color: var(--dark-gray);
            font-weight: var(--fontweight-bold);
          }
          i{
            margin-right: var(--margin-small);
          }
        }
      }
    }
  }
  }
}


// ==== Desktop ==== 
@media screen and (min-width:1024px) {
  .navbar{
    &__desktop{
      &-top{
      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--light-gray);
      max-width: 100vw;
      height: 10vh;
    }
    &-side{
      display: flex;
      position: fixed;
      top: 0;
      bottom: 0;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      background: var(--light-gray);
      width: 20vw;
      padding-top: 10vh;
      li{
        width: 100%;
        height: 10vh;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        vertical-align: middle;
        border: solid 1px var(--dark-gray);
        &:hover{
          background-color: var(--dark-gray);
          box-shadow: var(--box-shadow-light);
          border-radius: var(--border-radius);
          i{
            animation: iconTurn 600ms ease-in;
          }
        }
        a{
          display: flex;
          align-items: center;
          justify-content: flex-start;
          color: var(--font-color);
          margin-left: var(--margin-small);
          vertical-align: middle;
          height: 10vh;
          &:hover{
            background-color: var(--dark-gray);
            font-weight: var(--fontweight-bold);
          }
          i{
            margin-right: var(--margin-small);
          }
        }
      }
    }
  }
  }
}
