

@font-face {
  font-family: 'Nunito Sans';
  src: url('./fonts/NunitoSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('./fonts/NunitoSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: 'Nixie One';
  src: url('./fonts/NixieOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-display: swap;
}

:root {

  /* COLOR */
  --black: #121212;
  --white: #F6F6F7;

  --red: rgba(199, 26, 26, 1);
  --light-red: rgba(203, 74, 74, 0.14);

  --primary: #f1f1f1; 
  --secondary: #AF8C5E;
  --tertiary: #219653;

  --light-blue: rgba(25, 81, 121, 0.07);
  --dark-gray: #cccccc;
  --light-gray: #f2f2f2;

  --dark-overlay: rgba(0, 0, 0, 0.8);
  --light-overlay: rgba(140, 140, 140, 0.8);

  --secondary-backcolor: #8a6f4c;

  --color-cursor: #6e6e6e;
  
  /* FONT */
  --font-title: 'Nixie One', sans-serif;
  --font-text: 'Nunito Sans', sans-serif;

  --fontsize-huge: 4rem;
  --fontsize-h1: 2rem;
  --fontsize-h2: 1.5rem;
  --fontsize-h3: 1.1rem;
  --fontsize-p: 1rem;

  --fontweight-light: 400;
  --fontweight-bold: 700;

  --line-height-small: 1.6em;
  --line-height-large: 35px;

  /* Buttons */

  --width-btn-small: 5rem;
  --width-btn-medium: 10rem;
  --width-btn-big: 14rem;

  --height-btn-regular: 3rem;
  --height-btn-big: 6rem;

  --box-shadow-light: 0 4px 6px -1px rgba(150, 150, 150, .6), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --box-shadow-dark: 2px 4px 6px 1px rgba(0, 0, 0, .6), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

  /* OTHER */
  --border-radius: 6px;

  --margin-small: .8rem;
  --margin-medium: 1.5rem;
  --margin-large: 3rem;

  --transition-long: 0.5s;

}

.theme-light {
  --color-background: var(--white);
  --color-background-rev: var(--light-gray);
  --background-app: url("../utils/img/escheresque.png");

  --font-color: var(--black);
  --font-color-rev: var(--white);
  --hover-color: var(--tertiary);
  
  --color-card-background: var(--black);
  --color-country-row: var(--dark-gray);
  --color-card-overlay: var(--dark-overlay);

  --color-btn: var(--secondary);

  --color-cursor: var(--font-color);

  --skelton-background: var(--dark-gray);
  --skeleton-font: var(--color-card-background);
  --skeleton-lightning: rgba(102, 102, 102, 0.5);

  --box-shadow: var(--box-shadow-dark);
}

