
.footer {
  display: flex;
  text-align: center;
  align-items: center;
  padding: 0 0 20px;
  font-size: var(--fontsize-p);
  margin-top: var(--margin-medium);
  @media screen and (min-width:767px) {
    justify-content: flex-end;
   }
  @media screen and (min-width:1024px) {
   justify-content: center;
  }
}

.footer p, .footer a {
  color: var(--font-color);
  text-decoration: underline;
  display: inline;
  padding: 5px 10px;   
  cursor: pointer;
  font-size: var(--fontsize-p);
}