.Game{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media screen and (min-width: 481px) {
    margin: 0;
    min-height: 90vh;
  }
  @media screen and (min-width: 1024px) {
    margin: 0;
    min-height: 90vh;
  }
  &__content{
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 70vh;
    width: 90vw;
    margin: 10vh auto 0 auto;
    @media screen and (min-width: 481px) {
      margin: 0;
      margin-left: 30vw;
      flex-direction: column-reverse;
      width: 70vw;
      align-items: flex-start;
      justify-content: center;
    }
    @media screen and (min-width: 1024px) {
      margin: 0;
      margin-left: 20vw;
      flex-direction: row;
      width: 80vw;
      align-items: flex-start;
      justify-content: center;
    }
    &__dashboard{
      @media screen and (min-width: 481px) {
        width: 80%;
        margin: auto;
      }
      @media screen and (min-width: 1024px) {
        width: 50%;
        margin: 0 var(--margin-small);
      }
    }
    &__playingArea{
      @media screen and (min-width: 481px) {
        width: 80%;
        margin: auto;
      }
      @media screen and (min-width: 1024px) {
        width: 50%;
        margin: 0 var(--margin-small);
      }
    }
  }
}

.navBtns{
  display: flex;
  width: 100%;
  justify-content: center;
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}

.select__text{
  border-radius: var(--border-radius);
  padding: var(--margin-small);
  p{
    text-align: center;
    // font-weight: var(--fontweight-bold);
  }
}

.subtitle__infos{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-gray);
  padding: var(--margin-small);
  box-shadow: var(--box-shadow-light);
  border-radius: var(--border-radius);
}

.rw-number-picker{
  width: var(--width-btn-medium);
  margin: var(--margin-small) auto;
}

.rw-widget-picker{
  height: var(--height-btn-regular);
  background-color: var(--secondary);
}
.skittles__container{
  position: relative;
  height: 90vw;
  max-height: 360px;
  width: 90vw;
  max-width: 365px;
  overflow: hidden;
  margin: auto;
  margin: var(--margin-small) 0;
  padding: var(--margin-small);
  text-align: center;
  background: var(--primary);
  border-radius: var(--border-radius);
  box-shadow: 2px 3px 5px #9b9b9b;
  @media screen and (min-width:767px) {
    margin: var(--margin-small) auto;
    }
  .select:nth-child(2) {
    left: 500px;
  }
  &.animated{
    .select:nth-child(2) {
      left: 0px;
    }
    .select:nth-child(1) {
      left: -1000px;
    }
  }
}
