.select{
  @media screen and (min-width:767px) {
    margin: var(--margin-medium) auto;
    }
    height: 90vw;
    max-height: 365px;
    width: 90vw;
    max-width: 365px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 600ms;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  &__container{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: var(--margin-small);
    margin: var(--margin-small) 0;
  }
 &__middleTop, &__bottom, &__middleBottom{
    display: flex;
    justify-content: center;
    margin-top: -12px;
  }
  &__top{
    display: flex;
    justify-content: center;
  }
}