.switchContainer {
  width: 56px;
  height: 24px;
  border-radius: 35px;
  background-color: var(--secondary);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  box-shadow: var(--box-shadow-light);
}

.option__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  
  i{
    color: #6e6e6e;
    margin-left: var(--margin-small);
    cursor: pointer;
  }
}

.switchContainer .point {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--white);
  position: absolute;
  top: 3px;
  left: 4px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  transition: var(--transition-long);
  &:hover{
    box-shadow: var(--box-shadow-light);
  }

}

.switchContainer .action {
  font-family: var(--font-text);
  font-size: 12px;
  color: var(--white);
  position: absolute;
  top: 50%;
  transform: translate(-7%, -50%);
  left: 26px;
  transition: var(--transition-long);
  margin-right: 5px;
}

.switchContainer.mode-true .action {
  left: 7px;
}
.switchContainer.mode-true {
  background-color: var(--tertiary);
}
.switchContainer.mode-true .point {
  left: 35px;
  box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.2);
}

.option{
  display: flex;
  align-items: center;
  margin: var(--margin-small) 0;
  justify-content: space-between;
  width: 80vw;
  @media screen and (min-width:767px) {
    width: 100%;
  }
  &__title{
    max-width: 57vw;
  }
}